body{
    background-color:#8BD6D6;
}
h1{
        font-family: arial;
        font-size: 45px;
        color:blue;
        text-align: center;
}
h2, h3, p{
     text-align: center;
}
img{
   display: block;
   margin: 0 auto;
}
#pepe{
     width: 100px;
     height: 100px;
     border-radius: 50%;
     border: 4px solid #aa1189;
}
button{
    display: block;
    margin: 0 auto;
    color:black;
    background-color: #8BD6D6;
    padding: 15px 32px
}
#pepe:hover {
  box-shadow: 0 0 2px 1px blue;
  transform: scale(1.5);
}
button:hover{
 backgroung-color:blue;
}