body{
    background-color:#FF6060;
}
h1{
        font-family: arial;
        font-size: 45px;
}
#pepe{
     width: 100px;
     height: 100px;
     border-radius: 50%;
     border: 4px solid #aa1189;
}